.nav-sec1-p1-container{
  display: flex;
  gap: 200px;
}

.nav-sec1-p1{
  display: flex;
  font-size: 14px;
}
.nav-sec1-p1 > div:first-child img{
  width: 80px;
  height: auto;
}

.nav-sec1-p2{
  display: flex;
  gap: 20px;
  font-size: 14px;
}

/* .nav-sec1-p1-container{
  display: flex;
  gap: 505px;
  background-color: #8B1D3F;
}
.nav-sec1-p1, .nav-sec1-p2{
  display: flex;
  gap: 20px;
  color: #FFFFFF;
  font-size: 14px;
}
.nav-sec1-p1{
  margin-left: 180px;
}
.nav-sec1-p2{
  margin-right: 180px;
}

.nav-sec2-p1-container{
  display: flex;
  gap: 750px;
  padding-top: 20px;
}
.nav-sec2-p1 img{
  width: 180px;
  height: auto;
  margin-left: 150px;
}
.nav-sec2-p2{
  display: flex;
  padding-top: 20px;
}
.nav-sec2-p2 img{
  width: 140px;
  height: auto;
  margin-left: 20px;
}

.nav-sec3-container{
  border-top: 1px solid rgb(178, 180, 182);
}
.nav-sec3{
  display: flex;
  gap: 50px;
  margin-left: 180px;
} */