.product-sec4-container{
    margin-bottom: 0px !important;
}
.product-sec4-wrapper{
    margin-left: 15px !important;
    margin-right: 0px !important;
}

.product-sec4{
    width: 89.5vw;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: black;
    font-weight: 700;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F2F2F2;
    padding: 12px 32px;

    p{
        margin: 0px !important;
    }

    >div:nth-child(1){
        display: flex;
        gap: 5px;

        >div:last-child{
            color: #CB4814;
            font-weight: 400;
        }
    }
    >div:nth-child(2){
        display: flex;
        gap: 5px;

        >div:last-child{
            color: #CB4814;
            font-weight: 400;
        }
    }
    >div:nth-child(3){
        display: flex;
        gap: 5px;

        >div:last-child{
            color: #CB4814;
            font-weight: 400;
        }
    }
}